<WiredCard class="wirde" >
  <h1>{{ eu }}</h1>

  {{outlet}}
  {{!-- <WiredInput placeholder="Atualizar"></WiredInput> --}}
  {{!-- <wired-button>Click Me</wired-button> --}}

</WiredCard>


<Input @value={{eu}} />

<WiredInput @value={{eu}} />